snippet js
<script type="text/javascript">
	$0
</script>
endsnippet

# 表情包
snippet emo
<img src="./images/$0" width="8%" alt="">
endsnippet

snippet tbl
<table style="boder:1px">
    <tr>
        <td>
<pre>
$0
</pre>
        </td>
        <td>
<pre>
$1
</pre>
        </td>
    </tr>
</table>
endsnippet


snippet img
<img src="$1">
<center>$2</center>
endsnippet

snippet slide
<section data-transition="$1">
</section>
endsnippet
