snippet txt
@title $0
@date
endsnippet

snippet pig
---
Title: $1
Date: $2
Author: bugnofree
---
endsnippet

snippet paper
- 基本信息

    - 阅读进度:
    - 笔记进度:
	- 关键词:
	- 时间:

- 论文笔记

    - 简介

    - 详情

	- 优劣

endsnippet

snippet diary
- $1/$2

	- 今日任务

	- 纪实

endsnippet
